/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    height: 70vh;
}

.destinos-principales img {
    border-radius: 10px;
}

.actividades-destacadas .card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
}
